.syrin-fields {
    display: flex;
    flex-direction: column;
}

.syrin-fields > * {
    width: 100%;
}

.form-group select {
    width: 100%;
}

#playlists .syrin-to-collapse {
    list-style: none;
    margin: 0;
    padding: 6px;
    flex: 0 0 100%;
}

.syrin-search select {
    width: 100%;
    background: rgba(255, 255, 245, 0.8);
}

.syrin-controls {
    padding: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
