.syrin-fields {
    display: flex;
    flex-direction: column;
}

.syrin-fields > * {
    width: 100%;
}

.syrin-fields select {
    width: 100%;
    margin: 0 3px 12px 0;
    flex: 1;
}

.syrin-fields button {
    flex: 0;
    margin: -2px 0;
    line-height: 22px;
    height: 30px;
    margin-right: 0;
}

#playlists .syrin-search button {
    flex: 0;
    margin: -2px 0;
    line-height: 22px;
    height: 30px;
    margin-right: 0;
}

.form-group select {
    width: 100%;
}

#playlists .syrin-to-collapse {
    list-style: none;
    margin: 0;
    padding: 6px;
    flex: 0 0 100%;
}

.syrin-search select {
    width: 100%;
    background: rgba(255, 255, 245, 0.8);
}

.syrin-controls {
    padding: 6px;
    display: flex;
    flex-direction: row;
}

.syrin-search-controls.syrin-controls {
    justify-content: space-around;
}

.syrin-list .syrin-controls {
    justify-content: end;
}

.syrin-list .syrin-controls a {
    margin: 2px;
}

.syrin-controls a.disabled {
    cursor: default;
    display: none;
}

.syrin-list .playlist-name {
    flex: 6;
    padding: 6px;
    word-break: break-all;
    white-space: pre;
    text-align: left;
    overflow: hidden;
}
